################################################################################
# complie 
################################################################################
*.o
*.sh

################################################################################
# edit 
################################################################################
*~
*.swp
tags
*.bak
*.backup
