################################################################################
# complie 
################################################################################
*.o

################################################################################
# edit 
################################################################################
*~
*.swp
tags
*.bak
*.backup
